# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wk14_django_covid19\covid19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
